{% extends 'base.html' %}
{% block content %}

<h2><u>Academic Records</u></h2>
<br>

<!-- <h1>Hello User: {{ user.username }}</h1> <br>
<h1>UserID: {{ user.id }}</h1> <br> -->

{% if found == 1 %}
  <h2>Student Name: {{ data[user.id-1][1] }}</h2>
  <h2>Student Email: {{ data[user.id-1][2] }}</h2>
  <h2>Year Of Study: {{ data[user.id-1][3] }} </h2>
  <h2>Tutor Name: DR {{ data[user.id-1][4] }}</h2>

  <table class="table table-dark">
    <tr>
      <th>Attendance</th>
    </tr>

    <tr>
      <td>{{ data[user.id-1][5] }}%</td>
    </tr>
  </table>

  <table class="table table-dark">
    <tr>
      <th>Module</th>
      <th>Exam Date</th>
    </tr>
    <tr>
      <td>{{ data[user.id-1][6] }}</td>
      <td>{{ data[user.id-1][7] }}</td>
    </tr>
    <tr>
      <td>{{ data[user.id-1][8] }}</td>
      <td>{{ data[user.id-1][9] }}</td>
    </tr>
    <tr>
      <td>{{ data[user.id-1][10] }}</td>
      <td>{{ data[user.id-1][11] }}</td>
    </tr>
    <tr>
      <td>{{ data[user.id-1][12] }}</td>
      <td>{{ data[user.id-1][13] }}</td>
    </tr>
    <tr>
      <td>{{ data[user.id-1][14] }}</td>
      <td>{{ data[user.id-1][15] }}</td>
    </tr>
  </table>
{% else %}
  <h1>Sorry, your academic record could not be found. Please contact your system administrator</h1>
{% endif %}






{% endblock content %}
