<!doctype html>
<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>No title</title>
    {% endif %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="../">Software Enigeering Spikes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            {% if active == 'login'%}
              <li class="nav-item active">
                <a class="nav-link" href="login">Login<span class="sr-only">(current)</span></a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
              </li>
            {% endif %}
            {% if active == 'index'%}
              <li class="nav-item active">
                <a class="nav-link" href="../">Relational DB<span class="sr-only">(current)</span></a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="../">Relational DB</a>
              </li>
            {% endif %}

            {% if active == 'location'%}
              <li class="nav-item active">
                <a class="nav-link" href="location">Location<span class="sr-only">(current)</span></a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="location">Location</a>
              </li>
            {% endif %}

            {% if active == 'academic'%}
              <li class="nav-item active">
                <a class="nav-link" href="academic">Academic<span class="sr-only">(current)</span></a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="academic">Academic</a>
              </li>
            {% endif %}

            {% if active == 'rawacademic'%}
              <li class="nav-item active">
                <a class="nav-link" href="rawacademic">Raw academic<span class="sr-only">(current)</span></a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="rawacademic">Raw academic</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          {% block content %}
          {% endblock content %}
        </div>
        <div class="col-md-2"></div>
      </div>


      <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AlafGgDialDlkrQLr_vN2ixUaC8IDRMKOryvSHzYsui_Gexxkybup4GwdGatM1P8' async defer></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
