{% extends 'base.html' %}
{% block content %}

<br>

<h1>User Details Table</h1>
<table class="table table-dark">
  <tr>
    <th>User ID</th>
    <th>Username</th>
    <th>Password</th>
  </tr>
    {% for d in listdb %}
      <tr>
        <td>{{ d.id }}</td>
        <td>{{ d.username }}</td>
        <td>{{ d.password }}</td>
      </tr>
    {% endfor %}
</table>

<button onclick="redirect1()">Delete ALL user data</button> <br> <br>

<h1>Points Of Interest Table</h1>
<table class="table table-dark">
  <tr>
    <th>user ID</th>
    <th>Coordinates</th>
    <th>Created By</th>
  </tr>
    {% for e in listdb2 %}
      <tr>
        <td>{{ e.id }}</td>
        <td>{{ e.coords }}</td>
        <td>{{ e.createdby }}</td>
      </tr>
    {% endfor %}
</table>

<button onclick="redirect2()">Delete ALL locational data</button> <br> <br>


<script>
function redirect1() {
  location.replace("dropuser")
}
function redirect2() {
  location.replace("droploc")
}
function redirect3() {
  location.replace("newuser")
}
</script>


{% endblock content %}
