{% extends 'base.html' %}
{% block content %}

{% with messages = get_flashed_messages() %}
 {% if messages %}
  <div class="alert alert-success" role="alert">
   {% for message in messages %}
     {{ message }}
   {% endfor %}
  </div>
  {% endif %}
{% endwith %}


<br>

<h1>Hello User: {{ loggedin.username }}</h1> <br>
<button onclick="redirect2()">Create New User</button> <br> <br>


<h2 id="coords"></h2>
<h2 id="distance"></h2>

<button onclick="redirect()">Put Into Database</button>

<p>Please wait for your browser to load your current coordinates (Ensure you give permission to your browser to do so).</p>

<script>
  var x = document.getElementById("coords");
  var long = "0"
  var lat = "0"

  window.onload = function() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
      // distance();
    } else {
      x.innerHTML = "Geolocation not supported";
    }
  };

  function showPosition(position) {
    long = position.coords.longitude;
    lat = position.coords.latitude;
    x.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
  }

  function redirect() {
    location.replace("location?coords=" + lat + "," + long)
  }

  function redirect2() {
    location.replace("newuser")
  }

  // function distance() {
  //   var lat1 = 53.4993769;
  //   var lat2 = 53.499487;
  //   var lon1 = -1.0559346;
  //   var lon2 = -1.057088;
  //
  //   var R = 6371000;
  //   var lat1r = lat1.toRadians();
  //   var lat2r = lat2.toRadians();
  //   var dlat = (lat2-lat1).toRadians();
  //   var dlong = (lon2-lon1).toRadians();
  //
  //   var a = Math.sin(dlat/2) * Math.sin(dlat/2) + Math.cos(lat1r) * Math.cos(lat2r) * Math.sin(dlong/2) * Math.sin(dlong/2);
  //   var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
  //   var d = R * c;
  //
  //   document.write(d);
  //   }

</script>




<h1>Your Points Of Interest Table</h1>
<table class="table table-dark">
  <tr>
    <th>Location ID</th>
    <th>Coordinates</th>
    <th>Creator</th>
  </tr>
    {% for e in listdb2 %}
      {% if e.createdby == userint %}
        <tr>
          <td>{{ e.id }}</td>
          <td>{{ e.coords }}</td>
          <td>{{ loggedin.username }}</td>
        </tr>
      {% endif %}
    {% endfor %}
</table>


<script type='text/javascript'>
  var map, infobox;

  function GetMap() {
      map = new Microsoft.Maps.Map('#myMap', {});

      //Create an infobox at the center of the map but don't show it.
      infobox = new Microsoft.Maps.Infobox(map.getCenter(), {
          visible: false
      });

      //Assign the infobox to a map instance.
      infobox.setMap(map);

      //Create random locations in the map bounds.
      var randomLocations = Microsoft.Maps.TestDataGenerator.getLocations(5, map.getBounds());

      for (var i = 0; i < randomLocations.length; i++) {
          var pin = new Microsoft.Maps.Pushpin(randomLocations[i]);

          //Store some metadata with the pushpin.
          pin.metadata = {
              title: 'Pin ' + i,
              description: 'Discription for pin' + i
          };

          //Add a click event handler to the pushpin.
          Microsoft.Maps.Events.addHandler(pin, 'click', pushpinClicked);

          //Add pushpin to the map.
          map.entities.push(pin);
      }
  }

  function pushpinClicked(e) {
      //Make sure the infobox has metadata to display.
      if (e.target.metadata) {
          //Set the infobox options with the metadata of the pushpin.
          infobox.setOptions({
              location: e.target.getLocation(),
              title: e.target.metadata.title,
              description: e.target.metadata.description,
              visible: true
          });
      }
  }
  </script>



  <body>
   <div id="myMap" style="position:relative;width:100%;height:600px;"></div>
  </body>

  <br>

{% endblock content %}
