{% extends 'base.html' %}
{% block content %}
<br>

  {% with messages = get_flashed_messages() %}
   {% if messages %}
    <div class="alert alert-success" role="alert">
     {% for message in messages %}
       {{ message }}
     {% endfor %}
   </div>
    {% endif %}
  {% endwith %}


  {% if 'username' in session: %}
      <div class="alert alert-info" role="alert">
        <p>Logged in as <b>{{username}}</b></p>
        <p>Click here to <a href='logout'>Logout</a></p>
      </div>
  {% endif %}


<h1>Register</h1>
<form action="" method="post" name="register">
    {{ form2.hidden_tag() }}
    <div class="form-group">
      <label>Username</label><br>
      {{ form2.username }}<br>
      <label>Password</label><br>
      {{ form2.password }}<br>
      <label>Re-type Password</label><br>
      {{ form2.password2 }}<br>
    </div>

    <p><input type="submit" value="submit"></p>
</form>

<h1>Login</h1>
<form action="" method="post" name="login">
  {{ form.hidden_tag() }}
  <div class="form-group">
    <label>Username</label><br>
    {{ form.loginuser }}<br>
    <label>Password</label><br>
    {{ form.loginpass }}<br>
  </div>

  <p><input type="submit" value="submit"></p>
</form>


<div class="alert alert-primary" role="alert">
  <h1>Encrypt Data</h1>
  <p> Example Password = {{ passwd }}</p>
  <p> Salt = {{ salt }}</p>
  <p> Hashed Data = {{ hashed }}</p>
</div>


{% endblock content %}
