{% extends 'base.html' %}
{% block content %}
<br>

<h1>Raw Student Academic Data</h1>

<table class="table table-dark">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
  </tr>
    {% for e in data %}
        <tr>
          <td>{{ e[0] }}</td>
          <td>{{ e[1] }}</td>
          <td>{{ e[2] }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock content %}
